<% @title="Registration Page"%>

<div class="container">
	<div class="row">
		<div class="four columns">
			<% if flash[:lender_errors] %>
			<% flash[:lender_errors].each do |error| %>
			<p><%= error %></p>
			<% end %>
			<% end %>
			<h1>Lender</h1>
			<form action="/lender/register/" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<label for="fname">First Name:</label>
				<input type="text" name="lender[fname]" id="fname">
				<label for="lname">Last Name:</label>
				<input type="text" name="lender[lname]" id="lname">
				<label for="email">Email:</label>
				<input type="text" name="lender[email]" id="email">
				<label for="pw">Password:</label>				
				<input type="password" name="lender[password]" id="pw">
				<label for="money">Money:</label>				
				<input type="number" name="lender[money]" min="100" max="5000" id="money">
				<input type="hidden" name="moneylent" value="0">
				<div class="row">
					<input type="submit" value="Register">
				</div>
			</form>
		</div>	

		<div class="five columns">
			<% if flash[:borrower_errors] %>
			<% flash[:borrower_errors].each do |error| %>
			<p><%= error %></p>
			<% end %>
			<% end %>
			<h1>Borrower</h1>
			<form action="/borrower/register" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<label for="borrowerFname">First Name:</label>				
				<input type="text" name="borrower[fname]" id="borrowerFname">
				<label for="borrowerLname">Last Name:</label>				
				<input type="text" name="borrower[lname]" id="borrowerLname">
				<label for="borrowerEmail">Email:</label>
				<input type="text" name="borrower[email]" id="borrowerEmail">
				<label for="borrowerpw">Password:</label>
				<input type="password" name="borrower[password]" id="borrowerpw">
				<label for="borrowerPurpose">Need Money For:</label>
				<input type="text" name="borrower[purpose]" id="borrowerPurpose">
				<label for="borrowerDescr">Description:</label>
				<textarea name="borrower[description]" id="borrowerDescr"></textarea>
				<label for="borrowerMoney">Money:</label>
				<input type="number" name="borrower[money]" min="100" max="5000" id="borrowerMoney">
				<input type="hidden" name="borrower[raised]" value="0">
				<div class="row">
					<input type="submit" value="Register">
				</div>
			</form>
		</div>
	</div>
	<a href="/online_lending/login/">Already a member?</a>
</div>